@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);

body 
{
    /* font-family: 'Helvetica', sans-serif; */
	  font-family: 'Dosis', sans-serif !important;
  font-size: 17px !important;
}

html {
  /*background: #222 url("bg.png") repeat;*/
  background: white;
}

#main { /* max-width:1349px; */ min-width:320px; margin:0 auto; min-height: 500px;}

p{text-align: justify;}
a:link{text-decoration: none !important; color: white;}
a:visited {color: white;}
ul li{list-style: none !important;}
#RNR{padding: 0;}
table, th, td {border: 1px solid black; border-color: #CCC}
.container-fluid {
    max-width: 1600px;
}

strong#Color_RNR_Strong{color: #006699;}
strong#Color_Registro_Strong{color: red;}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/lato-lig-webfont.eot');
    src: url('../fonts/lato/lato-lig-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/lato-bol-webfont.eot');
    src: url('../fonts/lato/lato-bol-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*404 ERROR */

#error_texto{
  color: #0BADB3 !important;
  font-size: 11em;
  line-height: 100%;
  text-shadow: 2px 2px 3px rgba(0,0,0,.4);
  display: block;
  font-weight: 300;
  font-family: 'latolight';
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.fullwidth
{
	width: 100%;	
	min-width: 280px;
}

.fullwidth .bodycontainer
	{
		margin: 0 auto;
		width: 100%;
		max-width: 1000px;
		text-align: center;
	}

#topcontainer h1
	{
		padding: 0 0 10px 0;
		margin-bottom: 0;
		margin-top: 0;
		letter-spacing: -1.5px;
		color: #848484;
		font-weight: 400;
	}

#revisa_h1
	{
		padding: 5% 0 !important;
		font-size: 20px;
	}
		#topcontainer h1 span
		{
			font-size: 50px;
			line-height: 70px;
			letter-spacing: -1.4px;
			font-weight: 300;
		}

	#topcontainer p
	{
		margin-bottom: 0;
		color: #999;
	}

	#topcontainer p span
	{
		font-size: 90px;
		line-height: 90px;
		color: #ED1B24;
	}

	#logo_error img
	{

		display: flex;
  		margin: 0 auto;  
		width: 524px;
	 	height:247px;
	 }
@media screen and (max-width:549px){

	#logo_error img
	{
		display: flex;
  		margin: 0 auto;  
		width: 75%;
	 	height:75%;
	 }

	#error_texto{font-size: 6.5em;}

	#topcontainer h1 span
		{
			font-size: 30px;
			line-height: 0;
		}


}


/* 03. NAVIGATION ================================================== */

#head_barra_ieee
{
	text-align: right !important;
	padding-right: 0.5%;
	line-height: 25px;
	color: white !important;
	background: #8c8c8c;
	height: 25px;
	margin: 0;
	font-size: 14px;
}

nav #Logo {	
	float:left;
	}

#logo_ul{display: inline-flex !important; margin: 0 !important;}
	
nav {	
	width: 100%;
	height: 80px;
	margin-left: 0px !important;
	}

#no_over{background: none !important;}

img#logo_oficial {
  width: 140px !important;
  padding-top: 18%;
  padding-left: 9%;  

}

img#logo_oficial_2 {
  width: 140px !important;
  padding-top: 5%;
  padding-left: 9%;  

}

img#logo_evento {
	width: 150px !important;
}

/* Some stylesheet reset */
#nav, #nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* The main navigation bar */
#nav {
	width: 100%; /* The menu will take the width of its container */}

#nav>li {
	float: right;
	position: relative;
	padding-right: 6px;}

/* The main navigation links */
#nav>li>a {
	/* Layout */
	display: block;
	padding: 3px 15px 0 15px;

	/* Typography */
	font-family: 'latobold', sans-serif;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	
	/* Transitions */
	-webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
	-ms-transition: color .2s ease-in, border-top-color .2s ease-in;
	-moz-transition: color .2s ease-in, border-top-color .2s ease-in;
	-o-transition: color .2s ease-in, border-top-color .2s ease-in;
	transition: color .2s ease-in, border-top-color .2s ease-in;}


		.cbp-af-header ul li a,
		.cbp-af-header ul li a:focus {	
		    background: repeat-x url("../img/banner_bg.jpg") 0 -94px ;
		    transition-duration: .2s !important;
		}

		.cbp-af-header ul li:nth-child(2n+1) a,
		.cbp-af-header ul li a:focus{
			background: repeat-x url("../img/banner_bg2.jpg") 0 -94px ;
		    transition-duration: .2s !important;
		}

		.cbp-af-header ul li a:hover ,
		.cbp-af-header ul li a.current 
		{
		    background-position: 0 0px ;	   
		   
		}
	#nav>li>a:hover{color:#fff ;}

/* The hover state of the links */
#nav li:hover a, #nav li .selected {
	color: #fff;}

#nav>li.dropdown>a {
	padding-right: 28px;}

/* The arrow indicating a dropdown menu */
.dropdown>a::after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 4px solid transparent;
	border-top-color: inherit;
	right: 11px;
	top: 21px;}

/*  The submenus */
#nav ul {
	display: block;
	position: absolute;
	top: 43px;
	left: -9999px;
	opacity: 0;
	background: #272727;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-transition: opacity .22s ease-in;
	-ms-transition: opacity .22s ease-in;
	-moz-transition: opacity .22s ease-in;
	-o-transition: opacity .22s ease-in;
	transition: opacity .22s ease-in;}

#nav ul li {	
	display: block;
	position: absolute;
	height: 0px;
	-webkit-transition: height .15s ease-in;
	-ms-transition: height .15s ease-in;
	-moz-transition: height .15s ease-in;
	-o-transition: height .15s ease-in;
	transition: height .15s ease-in;}

/* The submenu appears when its parent is hovered */
#nav>li:hover>ul {
	left: 0px;
	opacity: 1;}

#nav li:hover>ul>li {
	position: relative;
	height: 31px;}

/* The submenu links */
#nav ul li a {
	/* Layout */
	display: block;
	padding: 7px 12px 7px 22px;
	width: 130px;

	/* Typography */
	font-family: 'latolight', sans-serif;
	font-size: 16px;
	color: #aaa;
	
	/* Background & effects */
	background: #FFF;
	-webkit-transition: color .2s ease-in, border-left-color .2s ease-in;;
	-ms-transition: color .2s ease-in, border-left-color .2s ease-in;;
	-moz-transition: color .2s ease-in, border-left-color .2s ease-in;;
	-o-transition: color .2s ease-in, border-left-color .2s ease-in;;
	transition: color .2s ease-in, border-left-color .2s ease-in;;}

/* Rounded corners for the last submenu link */
#nav ul>li:last-child>a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;}
 
.cbp-af-header {

	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10000;
	height: 120px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;}


/* FOR REDUCING THE HEIGHT OF THE NAVIGATION */

.cbp-af-header #Logo {
	padding: 5px 0px 0px 6px; 
	width:90px;}

.cbp-af-header #nav a {
	line-height: 100px;}

.cbp-af-header.cbp-af-header-shrink #Logo { 
	padding:0px 0px 0px 16px; 
	width:60px;}

/* Transitions and class for reduced height */

.cbp-af-header #Logo,
.cbp-af-header #nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;}

.cbp-af-header.cbp-af-header-shrink 
{
	height: 105px;
    opacity:0.9;
}

.cbp-af-header.cbp-af-header-shrink #nav a {
	line-height: 86px;}

/*04 Slide  ============================================================================== */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
    }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
 /*  max-height: 470px; */
  width: 100%;
  border: 0;
  padding-top: 120px;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

@media screen and (max-width: 600px) {  
  .callbacks_nav {
    top: 74%;
    }
 }

@media only screen and (min-width : 319px) and (max-width : 320px)  {  
  .callbacks{
    padding-left: 12%;
    }

}


/*06 SEPARATE ARROWS ========================================================================*/

.arrow-separator
{
	position: relative;
}

.arrow-separator:after
	{
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-width: 20px;
		left: 50%;
		margin-left: -12px;
		z-index: 11;
	}
	
	.arrow-white:after
	{
		border-color: white rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0); /** Using RGB to remove dark line in Firefox **/
	}

/* 13. MEDIA QUERIES FOR MOBILE SETTINGS ================================================== */

	.mobile-menu
	 {
		display:none;
		background: #FFF;
		width:100%;
		z-index: 99999999;
		position: absolute;
		top:0;
		border-bottom: 1px solid #BBB;
	}
	

	.mobile-menu .row 
	{
		background: #F5F5F5;
		padding-top:10px;
		padding-bottom: 10px;
	}	

	.mobile-menu-inner .nav-mobile li
 	{
	color: #4D4C4C;
	display: block;
	cursor: pointer;
	margin-top: 2%;
	background: #fFF;
	border-bottom: 4px solid #e5e5e5;
	padding: 6px 20px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
	

	.mobile-menu-inner .nav-mobile li:hover
	 {
	background: #F17C71;
	border-bottom: 4px solid #E95855;
	 }
	

	.mobile-menu-inner .nav-mobile li:hover a
	 {
	color: #fFF;
	 }
	

	.mobile-menu-inner .nav-mobile li a 
	 {
	display: block;
	width:100%;
	color: #4D4C4C;
	text-transform:uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	 }	

	#collapse {display:none;}


	.mobile-menu h3 
	 {
	background: url("../img/line.gif") no-repeat scroll center 21px transparent;
	color: #4D4C4C;
	font: 16px 'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
 	}

	/* Styling for mobile devices */

	@media screen and (max-width: 768px) {
	/* Display the mobile menu */
	
	.mobile-menu {display:block;}	
	
	#header {margin-top: 0px; padding:150px 0 100px 0; background: #353847; }
	
	/* Not Showing the Navigation */
	.cbp-af-header {display: none;}
	.callbacks img {padding-top: 56px;} 
    #team .row {width:100%;}    
	}

/* 14. MEDIA QUERIES PARA TABLETS (EN SU MAYORIA PARA EL HEADER RESPONSIVE) ================================================== */

@media only screen and (min-width : 769px) and (max-width : 843px) {

	#nav>li>a
	{
		padding-left: 1px;
	 	font-size: 9px;		 
	}
}

@media only screen and (min-width : 844px) and (max-width : 889px) {

	#nav>li>a
	{
		padding-left: 5px;
	 	font-size: 10px;		 
	}
}

@media only screen and (min-width : 890px) and (max-width : 959px) {

	#nav>li>a
	{
		padding-left: 10px;
	 	font-size: 10px;		 
	}
}

@media only screen and (min-width : 960px) and (max-width : 1024px) {

	#nav>li>a
	{
		padding-left: 9px; 
	 	font-size: 12px;		
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1112px) {

	#nav>li>a
	{
		padding-left: 8px;
	 	font-size: 13px;		 
	}
}

@media only screen and (min-width : 1113px) and (max-width : 1207px) {

	#nav>li>a
	{
		padding-left: 19px;
	 	font-size: 13px;		 
			 
	}
}

@media only screen and (min-width : 1208px) and (max-width : 1280px) {

	#nav>li>a
	{	
		padding-left: 25px;
	 	font-size: 14px;		 
	}
}

@media only screen and (min-width : 1281px) and (max-width : 1360px) {

	#nav>li>a
	{
		padding-left: 28px;
		font-size: 15px;		 
	}
}

#home{
    position: relative;
    overflow: hidden;
}

/*************************
*******RNR CSS******
**************************/

#time {
  background-color: #1881a2;
  background-image: url("../img/build_bg.jpg");
  background-position: center bottom;
  background-position:50% 0;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;  
  color: #fff;
}

.watch {
  position: absolute;
  left: 0;
  top: 7%;
}


@media (max-width: 767px){
.watch{
    display: none;
}
}

#time h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #2B3E51;
  border-bottom: 1px solid #2B3E51;
}

#countdown li .days {
  background-color: #2B3E51;/* 
  border-top: 1px solid ##2B3E51;
  border-left: 1px solid #6ac1b1; */
}

#countdown li .hours {
  background-color: #2B3E51; 
 /*  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470; */
}

#countdown li .minutes {
  background-color: #2B3E51;
  /* border-top: 1px solid #e89565;
  border-left: 1px solid #e89565; */
}

#countdown li .seconds {
  background-color: #2B3E51;
 /*  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d; */
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}

.cart {
  background-color: #174C77;  
  position: absolute;
  right:-200px;
  top: 37%;
  width:252px;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.cart:hover {
  right:0;
}


.cart a {
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
}

.cart a i {
  font-size: 30px;  
  padding: 20px 12px;
  background-color: #F9B33A; 
  margin-right: 3px;
}

/*************************
*******ABOUT CSS******
**************************/
#rnr{
	padding: 100px 0 70px 0
}
#rnr .section-title {
  margin: 0 0 25px;
}
#rnr figure {
  margin-bottom: 25px;
}
#rnr h3{
  font-size: 42px
}

/*************************
*******Agenda CSS******
**************************/
.schedule {
    padding: 60px 0;
}
.schedule .section-heading {
    text-align: center;
    margin-bottom: 60px;
}


/*************************
*******concursos CSS******
**************************/
.content-section-a {
    padding: 50px 0;
	border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
    padding: 50px 0;    
    background-color: #f8f8f8;
}

#concursos a{
	color: #1881a2;
	font-size: 25px;
}

/*************************
*******Premios CSS******
**************************/

#premios{
	background-color: #fed136;
	color: #FFF !important;
}
#premios .rnr-title h1{
	color: #FFF !important;
}

#premios .text-muted{
	color: #FFF !important;
}
.timeline{
	list-style:none;
	padding:0;
	position:relative
}
.timeline:before{
	top:0;
	bottom:0;
	position:absolute;
	content:"";
	width:2px;
	background-color:#FFF;
	left:40px;
	margin-left:-1.5px
}
.timeline>li{
	margin-bottom:50px;
	position:relative;
	min-height:50px
}
.timeline>li:before,.timeline>li:after{
	content:" ";
	display:table
}
.timeline>li:after{
	clear:both
}
.timeline>li .timeline-panel{
	width:100%;
	float:right;
	padding:0 20px 0 100px;
	position:relative;
	text-align:left
}
.timeline>li .timeline-panel:before{
	border-left-width:0;
	border-right-width:15px;
	left:-15px;
	right:auto
}
.timeline>li .timeline-panel:after{
	border-left-width:0;
	border-right-width:14px;
	left:-14px;
	right:auto
}
.timeline>li .timeline-image{
	left:0;
	margin-left:0;
	width:80px;
	height:80px;
	position:absolute;
	z-index:100;
	background-color:#1881a2;
	color:#fff;
	border-radius:100%;
	border:7px solid #f1f1f1;
	text-align:center
}
.timeline>li .timeline-image h4{
	font-size:10px;
	margin-top:12px;
	line-height:14px
}
.timeline>li.timeline-inverted>.timeline-panel{
	float:right;
	text-align:left;
	padding:0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before{
	border-left-width:0;
	border-right-width:15px;
	left:-15px;
	right:auto
}
.timeline>li.timeline-inverted>.timeline-panel:after{
	border-left-width:0;
	border-right-width:14px;
	left:-14px;right:auto
}
.timeline>li:last-child{
	margin-bottom:0
}
.timeline .timeline-heading h4{
	margin-top:0;
	color:inherit
}
.timeline .timeline-heading h4.subheading{
	text-transform:none
}	
.timeline .timeline-body>p,.timeline .timeline-body>ul{
	margin-bottom:0
}
@media (min-width:768px){
	.timeline:before{
		left:50%
	}
	.timeline>li{
		margin-bottom:100px;
		min-height:100px
	}
	.timeline>li .timeline-panel{
		width:41%;
		float:left;
		padding:0 20px 20px 30px;
		text-align:right
	}
	.timeline>li .timeline-image{
		width:100px;
		height:100px;
		left:50%;
		margin-left:-50px
	}
	.timeline>li .timeline-image h4{
		font-size:13px;
		margin-top:16px;
		line-height:18px
	}
	.timeline>li.timeline-inverted>.timeline-panel{
		float:right;
		text-align:left;
		padding:0 30px 20px 20px
	}
}
@media (min-width:992px){
	.timeline>li{
		min-height:150px
	}
	.timeline>li .timeline-panel{
		padding:0 20px 20px
	}
	.timeline>li .timeline-image{
		width:150px;
		height:150px;
		margin-left:-75px
	}
	.timeline>li .timeline-image h4{
		font-size:18px;
		margin-top:30px;
		line-height:26px
	}
	.timeline>li.timeline-inverted>.timeline-panel{
		padding:0 20px 20px
	}
}
@media (min-width:1200px){
	.timeline>li{
		min-height:170px
	}
	.timeline>li .timeline-panel{
		padding:0 20px 20px 100px
	}
	.timeline>li .timeline-image{
		width:170px;
		height:170px;
		margin-left:-85px
	}
	.timeline>li .timeline-image h4{
		margin-top:40px
	}
	.timeline>li.timeline-inverted>.timeline-panel{
		padding:0 100px 20px 20px
	}
}


.rnr-title{
	padding-top: 80px;
	padding-bottom: 50px;
}
.rnr-title h1{
	color: #1881a2;	
	font-size: 42px;
	text-transform: uppercase;
}

.rnr-title p{
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
}