body 
{
    font-family: 'Helvetica', sans-serif;
}

html {
  /*background: #222 url("bg.png") repeat;*/
  background: white;
}

p{text-align: justify;}
a:link{text-decoration: none !important;}
ul li{list-style: none !important;}
#RNR{padding: 0;}
table, th, td {border: 1px solid black; border-color: #CCC}
.container-fluid {
    max-width: 1600px;
}

strong#Color_RNR_Strong{color: #006699;}
strong#Color_Registro_Strong{color: red;}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/lato-lig-webfont.eot');
    src: url('../fonts/lato/lato-lig-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/lato-bol-webfont.eot');
    src: url('../fonts/lato/lato-bol-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* 03. NAVIGATION ================================================== */

nav #Logo {	
	float:left;
	}

nav #Logo img{
	width: 170px;
}
	
nav {	
	width: 100%;
	height: 80px;
	margin-left: 0px !important;
	}


/* Some stylesheet reset */
#nav, #nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* The main navigation bar */
#nav {
	width: 100%; /* The menu will take the width of its container */}

#nav>li {
	float: right;
	position: relative;
	padding-right: 6px;}

/* The main navigation links */
#nav>li>a {
	/* Layout */
	display: block;
	padding: 3px 0px 0 28px;

	/* Typography */
	font-family: 'latobold', sans-serif;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	
	/* Transitions */
	-webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
	-ms-transition: color .2s ease-in, border-top-color .2s ease-in;
	-moz-transition: color .2s ease-in, border-top-color .2s ease-in;
	-o-transition: color .2s ease-in, border-top-color .2s ease-in;
	transition: color .2s ease-in, border-top-color .2s ease-in;}


		.cbp-af-header ul li a,
		.cbp-af-header ul li a:focus {	
		    background: repeat-x url("../img/banner_bg.jpg") 0 -94px ;
		    transition-duration: .2s !important;
		}

		.cbp-af-header ul li:nth-child(2n+1) a,
		.cbp-af-header ul li a:focus{
			background: repeat-x url("../img/banner_bg2.jpg") 0 -94px ;
		    transition-duration: .2s !important;
		}

		.cbp-af-header ul li a:hover ,
		.cbp-af-header ul li a.current 
		{
		    background-position: 0 0px ;	   
		   
		}
	#nav>li>a:hover{color:#fff ;}

/* The hover state of the links */
#nav li:hover a, #nav li .selected {
	color: #fff;}

#nav>li.dropdown>a {
	padding-right: 28px;}

/* The arrow indicating a dropdown menu */
.dropdown>a::after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 4px solid transparent;
	border-top-color: inherit;
	right: 11px;
	top: 21px;}

/*  The submenus */
#nav ul {
	display: block;
	position: absolute;
	top: 43px;
	left: -9999px;
	opacity: 0;
	background: #272727;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-transition: opacity .22s ease-in;
	-ms-transition: opacity .22s ease-in;
	-moz-transition: opacity .22s ease-in;
	-o-transition: opacity .22s ease-in;
	transition: opacity .22s ease-in;}

#nav ul li {	
	display: block;
	position: absolute;
	height: 0px;
	-webkit-transition: height .15s ease-in;
	-ms-transition: height .15s ease-in;
	-moz-transition: height .15s ease-in;
	-o-transition: height .15s ease-in;
	transition: height .15s ease-in;}

/* The submenu appears when its parent is hovered */
#nav>li:hover>ul {
	left: 0px;
	opacity: 1;}

#nav li:hover>ul>li {
	position: relative;
	height: 31px;}

/* The submenu links */
#nav ul li a {
	/* Layout */
	display: block;
	padding: 7px 12px 7px 22px;
	width: 130px;

	/* Typography */
	font-family: 'latolight', sans-serif;
	font-size: 16px;
	color: #aaa;
	
	/* Background & effects */
	background: #FFF;
	-webkit-transition: color .2s ease-in, border-left-color .2s ease-in;;
	-ms-transition: color .2s ease-in, border-left-color .2s ease-in;;
	-moz-transition: color .2s ease-in, border-left-color .2s ease-in;;
	-o-transition: color .2s ease-in, border-left-color .2s ease-in;;
	transition: color .2s ease-in, border-left-color .2s ease-in;;}

/* Rounded corners for the last submenu link */
#nav ul>li:last-child>a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;}
 
.cbp-af-header {

	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10000;
	height: 120px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;}


/* FOR REDUCING THE HEIGHT OF THE NAVIGATION */

.cbp-af-header #Logo {
	padding: 5px 0px 0px 6px; 
	width:90px;}

.cbp-af-header #nav a {
	line-height: 100px;}

.cbp-af-header.cbp-af-header-shrink #Logo { 
	padding:0px 0px 0px 16px; 
	width:60px;}

/* Transitions and class for reduced height */

.cbp-af-header #Logo,
.cbp-af-header #nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;}

.cbp-af-header.cbp-af-header-shrink 
{
	height: 80px;
    opacity:0.9;
}

.cbp-af-header.cbp-af-header-shrink #nav a {
	line-height: 86px;}

/*04 Slide  ============================================================================== */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
    }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  max-height: 470px;
  width: 100%;
  border: 0;
  padding-top: 120px;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

@media screen and (max-width: 600px) {  
  .callbacks_nav {
    top: 74%;
    }
 }

@media only screen and (min-width : 319px) and (max-width : 320px)  {  
  .callbacks{
    padding-left: 12%;
    }

}

/*06 concurso ================================================================= */

#concurso
{  /*padre*/
	width: 100%;
}

a#color_link_btn{color: white !important;}

#concurso .div1, #concurso .div2{  /*hijos*/
	display: table-cell;
	float: left;
	text-align: center;
	padding: 1.4% 0;
	font-size: 22px;
	color: white;
	font-family: 'latolight';
}

.div1
{
	background: #0185ff; width: 50%;
}
.div2
{
	background: #9001ff; width: 50%;
}

@media screen and (max-width:761px){
   #concurso .div1 , #concurso .div2{
   	width: 100%
   }
   .div2{padding: 4.8% 0 !important;}
}





/* 06.1 SEGMENTO CONCURSOS ================================================================= */


#Contenedor_Concursos
{  /*padre*/
	width: 100%;
}

a#color_link_btn{color: white !important;}


#Concursos_h4_titulo
{
	text-align: center;
	color: #524D4D;
	font-size:32px;
	font-weight: 700;
	margin: 1em 0;
	padding-left: 5%;
	padding-top: 10%;
}

#Concursos_p
{
	font-size: 18px;
	margin:0 16%;
	line-height: 2.2em;
	text-align: justify;
}

p#Concursos_subTitulo {
text-align: center;
}

#Concursos_p_subTitulo
{
	font-size: 14px;
	margin:0 16%;
	line-height: 2.1em;
	font-family: 'latolight'
}

#Concursos_img1 img 

{
	width: 40%;
	padding-bottom: 2%;
}

#Concursos_p_terminos_y_condiciones
{
	color: black;
	font-size: 16px;
	margin:0 10%;
	font-family: 'latolight';
	line-height: 2em;
	text-align: center;
}


/* 05. INFO WHAT'S RNR OWN PAGE ... ================================================== */

.WhatsRNR
{
	min-height: 500px;
	clear: both;
	width: 100%;
	position: relative;
	background: white;
	padding: 13% 0%;
}


.WhatsRNR .fa-question,.WhatsRNR .fa-check, .WhatsRNR .fa-th-list
{
	color: #524D4D;
	font-size: 6em;
}

article{
   float:left;
   width:28%;
}

section{
	overflow:hidden;
   padding:3% 0;
   text-align:center;
   width:90%;
   color: #fff;
}

.fila1{padding-right: 3%;padding-left: 5%;}
.fila2{padding-right: 3%;}

section article h4

{

	text-align: center;
	color: #524D4D;
	font-size:26px;
	font-weight: 700;
	margin: 1em 0;
	text-transform:uppercase;
}

section article p
{
	color: #555555;
	font-size: 16px;
	margin:0;
	line-height: 1.8em;
}

@media screen and (max-width:1000px){
   section
   {
      width:100%;
   }   
   
   .fila1,.fila2,.fila3{padding-top: 10%;}
w}

@media screen and (max-width:850px){
   article{
      width:100%;
   }
   .fila1,.fila2,.fila3{width: 100%;}
   .fila3{padding-top: 5%;}
}

@media screen and (max-width: 768px){
	.WhatsRNR
	{
		padding-top: 9%;

	}
	.fila1,.fila2,.fila3
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.fila3{padding-top: 5%;}

}

@media screen and (max-width:866px){
	.fila1,.fila2, .fila3
	{
	 width: 100%;
	}
}

@media screen and (min-width:769px) and (max-width:866px){
	.fila1,.fila2, .fila3
	{
	 width: 95%;
	 padding-left: 2%;
	}
}
/* 05.1. INFO WHAT'S RNR INDEX ... ================================================== */

.WhatsRNR_index
{
	min-height: 598px;
	clear: both;
	position: relative;	
	background: white;
	padding-top: 7%;
}

.WhatsRNR_index .fa-question
{
	color: #524D4D;
	font-size: 5em;
	padding-top: 3%;
	padding-left: 47%;
}

#WhatsRNR_h4
{
	text-align: center;
	color: #524D4D;
	font-size:26px;
	font-weight: 700;
	margin: 1em 0;
	text-transform:uppercase;
}

#WhatsRNR_h4_2
{
	text-align: center;
	color: #ffAE00;
	font-size:3em;
	font-weight: 800;
	margin: 1em 0;
}

#WhatsRNR_p
{
	color: #555555;
	font-size: 24px;
	margin:0 7%;
	line-height: 1.8em;
	text-align: justify;
}

.fila1_index{width: 45%; padding-right: 6%; padding-left: 5%;}

@media screen and (max-width:1000px){
   
   .fila1_index{padding-top: 3%;}
}

@media screen and (max-width:850px){
   
   .fila1_index{width: 100%;}
   }

@media screen and (max-width: 768px){
	.WhatsRNR_index
	{
		padding-top: 2%;
	}

	.fila1_index
	{
		padding-left: 0;
		padding-right: 0;
	}

	#WhatsRNR_p
	{
		margin: 0;
	}
}

@media screen and (max-width: 1199px){
	.fila1_index
	{
		padding-right: 3;		
	}

	.twitter-timeline{width: 389px !important;}

}

@media screen and (max-width: 360px){
	.fila1_index
	{
		padding-right: 0;		
	}	
}

@media screen and (min-width: 901px) and (max-width: 1030px){
	
	.WhatsRNR_index{min-height: 752px !important;}
}

@media screen and (min-width: 1031px) and (max-width: 1199px){
	
	.WhatsRNR_index{min-height: 653px !important;}
}

@media screen and (min-width: 851px) and (max-width: 900px){
	
	.twitter-timeline{width: 367px !important;}
	.WhatsRNR_index{min-height: 785px !important;}
}

@media screen and (max-width: 850px){
	
	.twitter-timeline{width: 100% !important;}
}


/*06 SEPARATE ARROWS ========================================================================*/

.arrow-separator
{
	position: relative;
}

.arrow-separator:after
	{
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-width: 20px;
		left: 50%;
		margin-left: -12px;
		z-index: 11;
	}
	
	.arrow-white:after
	{
		border-color: white rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0); /** Using RGB to remove dark line in Firefox **/
	}

/*07 ========================================================================*/

#Agenda{margin: 0;
padding: 0;}

.AgendaSect{

   margin:0px auto;
   overflow:hidden;
   padding:8px 0;
   text-align:center;
   width:100%;
   color: #fff;
   min-height:548px;
   background: #76C7C0;
}

.Agendafila1
{
	padding-left: 15%;
	width: 28%
}

.Agendafila2
{
	padding-right: 0%;
	vertical-align: middle;
	width: 28%
}

.Agendafila3
{
	padding-right: 0%;
	float: right;
	width: 28%
}

.AgendaArt1
{
background:#0DA867;
width: 200px;
height: 200px;
-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 90px;
-webkit-border-bottom-right-radius: 90px;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 90px;
-moz-border-radius-bottomright: 90px;
border-radius: 5px;
border-top-left-radius: 90px;
border-bottom-right-radius: 90px;
}

.AgendaArt2
{
background: #F5D42B;
color: black;
width: 200px;
height: 200px;

-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

.AgendaArt3
{
background: #E85A5A;
width: 200px;
height: 200px;

-webkit-border-radius: 5px;
-webkit-border-top-right-radius: 90px; 
-webkit-border-bottom-left-radius: 90px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 90px; 
-moz-border-radius-bottomleft: 90px;
border-radius: 5px;
border-top-right-radius: 90px;  	
border-bottom-left-radius: 90px;
}

.Agendah4{
	text-align: center;
	font-size:40px;
	color:#fff;
	font-family: 'latolight';
	margin: 0.7em 0;
	text-transform:uppercase;
	padding: 5%;
}

.AgendaP{
	color: #f4f4f4;
	font-size: 6em;
	margin:0;
	line-height: 2.2em;
	text-align: center;
	padding-left: 1%;
}

@media screen and (max-width:1000px){
.Agendafila1{
	padding-left: 8% ;
	padding-right: 4%; 
}
}
@media screen and (max-width:700px){

	.AgendaArt3 , .AgendaArt1 , .AgendaArt2{border-radius: 0;}
   
 .AgendaArt1 , .Agendafila1 
 {
   	width: 100%;
 }

.Agendafila1
  {
   	padding-left: 0 !important;
  }

 .AgendaArt2 , .Agendafila2 
 {
   	width: 100%;
 }

.Agendafila2
  {
   	padding-left: 0 !important;
padding-top: 2% !important;	
  }

  .AgendaArt3 , .Agendafila3 
 {
   	width: 100%;
 }

.Agendafila3
  {
   	padding-left: 0 !important;
padding-top: 2% !important;
  }
}

@media screen and (max-width:768px){
	.Agendafila1{
		padding-left: 6% ;
		padding-right: 5%; 
	}
}


img#Agenda_img_oficial{width: 100%; padding-bottom: 0; padding-top: 16%;}

/*08. Schedule ========================================================================*/
#Schedule1, #Schedule2,#Schedule3
{
	
	width: 100%;
	min-height: 500px;
	vertical-align: middle;
	cursor:auto;
}

/*TABLA 1*/

table#Table1 {
height: 100%;
width: 100%;
font-family: Helvetica; font-weight: 100;
background: #14937a;
color: #fff;
border-radius: 5px;
text-align:center;
}

/* para las filas pares 
table tr:nth-child(even) td {
    background-color: #16a085 !important;
}

*/

table#Table1 thead th { font-weight: 600; }
table#Table1 thead th, table#Table1 tbody td {
padding: .8rem; font-size: 1.4rem;}
table#Table1 tbody td {
padding: .8rem; font-size: 1.4rem;
color: #444; background: #eee;
}
table#Table1 tbody tr:not(:last-child) {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}


@media screen and (max-width: 600px) {
table#Table1 tbody td { display: block; padding: .6rem; }
table#Table1 thead { display: none; }
table#Table1 tbody tr td:first-child { background: #14937a; color: #fff; }
table#Table1 tbody td:before {
content: attr(data-th); font-weight: bold;
display: inline-block; width: 6rem;
}
}

/*TABLA2*/

table#Table2 {
height: 100%;
width: 100%;
font-family: Helvetica; font-weight: 100;
background: #f4cc00; color: #fff;
border-radius: 5px;
text-align:center;
}

table#Table2 thead th { font-weight: 600; }
table#Table2 thead th, table#Table2 tbody td {
padding: .8rem; font-size: 1.4rem;}
table#Table2 tbody td {
padding: .8rem; font-size: 1.4rem;
color: #444; background: #eee;
}
table#Table2 tbody tr:not(:last-child) {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}


@media screen and (max-width: 600px) {
table#Table2 tbody td { display: block; padding: .6rem; }
table#Table2 thead { display: none; }
table#Table2 tbody tr td:first-child { background: #f4cc00; color: #fff; }
table#Table2 tbody td:before {
content: attr(data-th); font-weight: bold;
display: inline-block; width: 6rem;
}
}

/*TABLA3*/

table#Table3 {
height: 100%;
width: 100%;
font-family: Helvetica; font-weight: 100;
background: #f4002f; color: #fff;
border-radius: 5px;
text-align:center;
}

table#Table3 thead th { font-weight: 600; }
table#Table3 thead th, table#Table3 tbody td {
padding: .8rem; font-size: 1.4rem;}
table#Table3 tbody td {
padding: .8rem; font-size: 1.4rem;
color: #444; background: #eee;
}
table#Table3 tbody tr:not(:last-child) {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}


@media screen and (max-width: 600px) {
table#Table3 tbody td { display: block; padding: .6rem; }
table#Table3 thead { display: none; }
table#Table3 tbody tr td:first-child { background: #f4002f; color: #fff; }
table#Table3 tbody td:before {
content: attr(data-th); font-weight: bold;
display: inline-block; width: 6rem;
}
}
/*09  LUGAR ================================================== */

#Lugar
{
	margin: 0;
	padding: 0;
}

.google-maps {
        position: relative;
        padding-bottom: 29.6%; /*This is the aspect ratio*/
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        min-height: 400px !important;
    }

@media screen and (min-width: 1920px){

	.google-maps {
        padding-bottom: 21.6%; /*This is the aspect ratio*/ 
    }

    #Lugar_Info_h4_Titulo_Hotel {		
		padding-top: 7% !important;
	}

	div#btn_pago{padding-right: 15% !important;}

	#Lugar_Info_p_Que_Pasara {padding: 2% 3% 3% 3% !important;}
	div#contenedor_pago {padding-top: 5% !important;}
}

@media screen and (max-width: 720px){

	.google-maps{height: 100px;}
}

.Mapa_Img
{
	width: 100%;
	padding-top: 2.2%;
	padding-bottom: 1%;
    }

.Mapa_Container
{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}


.image-lightbox {
	-webkit-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	-ms-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}

. Mapa_Container img:hover {
    transform:scale(1.5);
    -ms-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -webkit-transform:scale(1.5); 
    -o-transform:scale(1.5); 
}

/* ----- Image grids ----- */
ul.rig 
{
	list-style: none;
	font-size: 0px;
	margin-left: -5.5%; /* should match li left margin */
}

ul.rig li 
{
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: black;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #1A1515;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li img 
{
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

/* class for 4 columns */
ul.rig.columns-4 li 
{
	width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 1199px) {
	.Mapa_Container 
	{
		width: auto;
		padding: 0;
	}
}

@media (max-width: 480px) {
	ul.grid-nav li 
	{
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a 
	{
		display: block;
	}
	ul.rig 
	{
		margin-left: -41px;
	}
	ul.rig li 
	{
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}


/* 09.1. LUGAR MAIN DIV ... ================================================== */

.Lugar_Info
{
	min-height: 500px;
	clear: both;
	position: relative;	
	background: white;
	padding-top: 3%;
}

.Lugar_Info .fa-question
{
	color: #524D4D;
	font-size: 5em;
	padding-top: 3%;
	padding-left: 47%;
}

#Lugar_Info_h4
{
	text-align: center;
	color: #524D4D;
	font-size:26px;
	font-weight: 700;
	margin: 1em 0;
	padding-top: 2%;
}

#Lugar_Info_h4_1
{
	text-align: center;
	color: #524D4D;
	font-size:26px;
	font-weight: 700;
	margin: 1em 0;
	padding: 3%;
}

#Lugar_Info_p_Que_Pasara
{
	text-align: center;
	color: #524D4D;
	font-size:26px;
	font-weight: 700;
	margin: 1em 0;
	padding: 8% 3% 3% 3%;
}

#Lugar_Info_h4_Titulo_Hotel
{
	text-align: left;
	color: #524D4D;
	font-size:32px;
	font-weight: 700;
	margin: 1em 0;
	padding-left: 5%;
	padding-top: 10%;

}

#Lugar_Info_p

{
	color: #555555;
	font-size: 18px;
	margin:0 7%;
	line-height: 1.8em;
	text-align: justify;
}

#Lugar_Info_Como_Llegar

{
	color: #555555;
	font-size: 18px;
	margin:0 5%;
	line-height: 1.8em;
	text-align: left;
}

#Lugar_Info_p_2

{
	color: #555555;
	font-size: 16px;
	margin:0 13%;
	line-height: 1.4em;
	text-align: justify;
}

#Lugar_Info_p_3

{
	color: #555555;
	font-size: 18px;
	margin:0 ;
	line-height: 4.4em;
	text-align: center;
}


#Lugar_Info_p_fecha

{
	color: #474747;
	font-size: 14px;
	margin:0 ;
	line-height: 2.4em;
	text-align: center;
}

@media screen and (max-width:480px){

	#Lugar_Info_h4_Titulo_Hotel {
	text-align: center;
	font-size: 20px;
	margin:0;
	padding: 23% 0 4% 0 ;	
	}

	#Lugar_Info_p_Que_Pasara {

	width: 100%; float: left; margin: auto; text-align: center;	
	font-size: 16px;	
	padding: 0;
	}
}



#Cajica {padding-top: 9%; width: 50%; float: right; padding-left: 0;}
#Cajica img{width: 18%; border-radius: 50%; padding-right: 1%; }

#Zipaquira {width: 50%; float: right; padding-left: 0;}
#Zipaquira img{width: 18%; border-radius: 50%; padding-right: 1%;  }

.Article_Lugar{width: 45%; padding-right: 0%; padding-left: 2%;}

@media screen and (max-width:1000px){
   
   .Article_Lugar{padding-top: 3%;}
}

@media screen and (max-width:850px){
   
   .Article_Lugar{width: 100%;}
   }

@media screen and (max-width: 768px){
	.Lugar_Info
	{
		padding-top: 2%;
	}

	.Article_Lugar
	{
		padding-left: 0;
		padding-right: 0;
	}

	#Lugar_Info_p
	{
		margin: 0;
	}
}

@media screen and (max-width: 1199px){
	.Article_Lugar
	{
		padding-right: 3;		
	}
}

@media screen and (max-width: 360px){
	.Article_Lugar
	{
		padding-right: 0;		
	}	
}

@media screen and (min-width: 901px) and (max-width: 1030px){
	
	.Lugar_Info{min-height: 752px !important;}
}

@media screen and (min-width: 1031px) and (max-width: 1199px){
	
	.Lugar_Info{min-height: 653px !important;}
}

@media screen and (min-width: 851px) and (max-width: 900px){	
	.Lugar_Info{min-height: 785px !important;}
}

/*09.2 Imagenes Antes-Durantes-Despues RNR*/

#Lugar_Antes_Despues{width: 100%;}

#Lugar_Ant_Desp_1 , #Lugar_Ant_Desp_2 ,#Lugar_Ant_Desp_3 ,#Lugar_Ant_Desp_4
{
	width: 24%; float: left; margin: auto; text-align: center;
}

#Lugar_Ant_Desp_1 {padding-left: 1%;}
#Lugar_Ant_Desp_4 {padding-right: 1%;}


#Lugar_Ant_Desp_p{margin: 20px 12%;	line-height: 1.7em; font-size: 15px}

#avatar_musica img {border-radius: 50%; width: 35%;}
#avatar_imagineDragons img {border-radius: 50%; width: 35%; padding-top: 1%}

/*Convertir un bloque o div en 3 columnas*/
#Lugar_Eventos{
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -o-column-count: 4;
        /*Espacio entre columnas*/
    column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -o-column-gap: 2em;
    /*Agrega una barra solida de color*/
    column-rule: 2px solid #666;
    -webkit-column-rule: 2px solid #666;
    -moz-column-rule: 2px solid #666;
    -o-column-rule: 2px solid #666;
}

/* Esto permite que se adapten las columnas a la pantalla, cuando hay una pantalla de 480px o menos muestra las columnas con un width=100% */
@media only screen and (max-width: 480px){

	#Lugar_Ant_Desp_1 , #Lugar_Ant_Desp_2 ,#Lugar_Ant_Desp_3 ,#Lugar_Ant_Desp_4
	{
		width: 100%; float: left; margin: auto; text-align: center;
	}

	aside#Zipaquira, aside#Cajica 
	{
		width: 100%; float: left; margin: auto; text-align: center;
	}
	#Zipaquira img , #Cajica img
	{
		float: none !important;
	}
}

/*06 Comite ORganizador ========================================================= */

#Comite_Organizador_Container
{

	clear: both;
	position: relative;	
	background: white;
	padding-top: 1.5%;	
}

#Comite_Organizador_Titulo
{
	text-align: center;
	color: #524D4D;
	font-size:30px;
	font-weight: 700;
	margin: 1em 0;
	padding-left: 5%;
	padding-top: 4%;

}

#Comite_Organizador_Titulo_p
{
	color: #555555;
	font-size: 15px;
	margin:0 7%;
	text-align: center;
	padding-bottom: 2%;
}


#Comite_Organizador_1,#Comite_Organizador_2,#Comite_Organizador_3,#Comite_Organizador_4,#Comite_Organizador_5,#Comite_Organizador_6
{
	width: 18%; float: left; margin: auto; text-align: center;
}

#imagen_comite_organizador_1 img, #imagen_comite_organizador_2 img, #imagen_comite_organizador_3 img, #imagen_comite_organizador_4 img,
#imagen_comite_organizador_5 img, #imagen_comite_organizador_6 img
{
	width: 80px;
	border-radius:50%;
}

#Comite_Organizador_1 {padding-left: 5%;}
#Comite_Organizador_6 {padding-right: 1%;}

#Comite_Organizador_Lista li
{
	text-align: left;
	font-size: 18px;
	color: #ccc;
}

ul#Comite_Organizador_Lista
{
	padding: 0 0 15% 0 !important;
	margin: 0;
}


/*06 Organizadores ================================================================= */

#Organizadores
{  /*padre*/
	width: 100%;
}


#Organizadores .div_org1
{  /*hijos*/
	display: inline-block;
	margin: 0;
	padding:0;
}

#Organizadores .div_org1 li {float: left;}

#Organizadores .div_org2{width: 100%}

#img_org1 img {width: 90px;}
#img_org2 img {width: 110px;}
#img_org3 img {width: 80px;}
#img_org4 img {width: 60px;}
#img_org5 img {width: 60px;}

@media screen and (max-width:761px){
   #Organizadores .div_org1 , #Organizadores .div_org2{
   	width: 100%
   }
   .div_org{padding: 4.8% 0 !important;}
}

/* 11 REGISTRO ================================================== */

.Container_Registro 
{
	min-height: 500px;
	clear: both;
	position: relative;
	padding-top: 3%;
	background: white;

}

#Registro_h4_Titulo
{
	text-align: center;
	color: #524D4D;
	font-size:30px;
	font-weight: 700;
	margin: 1em 0;
	padding-top: 10%;
}

#Registro_h4_Titulo_2
{
	text-align: center;
	color: #524D4D;
	font-size:30px;
	font-weight: 700;
	margin:0;
	padding-top: 3%;
}

#Registro_h4_Titulo_3 , #Concursos_h4_Titulo_2
{
	text-align: center;
	margin: 1em 0;
	padding-top: 0;
	font-size:30px;
	color: #524D4D;
	font-weight: 700;
}

#Registro_h4_Titulo_3_1
{
	text-align: center;
	color: #524D4D;
	font-size:30px;
	font-weight: 700;
	margin: 1em 0;
	padding-top: 0;
}

#Registro_p_1

{
	color: #555555;
	font-size: 18px;
	margin:0 14%;
	line-height: 2em;
	text-align: justify;
}

#Registro_p_2

{
	font-size: 18px;
	margin:0 16%;
	line-height: 2.2em;
	text-align: center;
}

#Registro_p_3

{
	font-size: 18px;
	margin:0;
	line-height: 2.2em;
	text-align: center;
}

#Registro_Info_p

{
	font-size: 17px;
	margin:1% 0;
	line-height: 1.6em;
	text-align: center;
}

img#Registro_precios_img{width: 100%;}

#Registro_que_incluye1 , #Registro_que_incluye2,#Registro_que_incluye3,#Registro_que_incluye4
{
	width: 24%; float: left; margin: auto; text-align: center; padding-top: 5%;
}

#Registro_que_incluye1 {padding-left: 1%;}
#Registro_que_incluye4 {padding-right: 1%;}

i#Registro_Icon_que_incluye{font-size: 4em; color: #006699;}


@media only screen and (max-width: 480px){

	#Registro_que_incluye1 , #Registro_que_incluye2 ,#Registro_que_incluye3 ,#Registro_que_incluye4
	{
		width: 100%; float: left; margin: auto; text-align: center;padding: 0;

	}


	i#Registro_Icon_que_incluye{font-size: 3em; color: #006699; padding-top: 12%;}


	#Registro_h4_Titulo_3_1 ,#Registro_h4_Titulo_3,#Registro_h4_Titulo_2 
	{
		text-align: center;
		color: #524D4D;
		font-size: 30px;
		font-weight: 700;
		margin: 1em 0;
		padding-top: 3%;
	}

	#Registro_p_2 
	{
		font-size: 14px;
		 margin: 0 ; 
		line-height: 2.2em;
		text-align: justify;
	}

	#Registro_p	{font-size: 14px;}

	div#Registro_Carta_Invitacion ,div#Registro_Formas_De_Pago , div#
	{
		width: 100%; float: left; margin: auto; text-align: center; padding-top:0;font-family:'latoregular';
	}

	#Registro_Container_Carta_Pagos	
	{
		width: 100%; float: left; margin: auto; text-align: center; padding-top:2%;font-family:'latoregular';
	}

	#Registro_Carta_Invitacion{padding-left: 0 !important;}
	#Registro_Formas_De_Pago {padding-right: 0 !important; border:none !important; }

}

#Registro_container_que_incluye{min-height: 430px;}

#Registro_Container_Carta_Pagos{min-height: 346px;}

#Registro_Carta_Invitacion , #Registro_Formas_De_Pago 
{
	width: 48%; float: left; margin: auto; text-align: center; padding-top:2%;font-family:'latoregular';
}
#Registro_Carta_Invitacion{padding-left: 1%;}
#Registro_Formas_De_Pago {padding-right: 1%; border-left: 1px solid #ccc; }


/*11.1 TABLA REGISTRO    =================================================*/


table#Table_Registro {
height: 100%;
width: 80%;
margin: 3% 10% 1% 10%;
font-family: Helvetica; font-weight: 100;
background: #14937a;
color: #fff;
text-align:center;
}

/* para las filas pares 
table tr:nth-child(even) td {
    background-color: #16a085 !important;
}

*/

#Registro_p_terminos_y_condiciones
{
	color: black;
	font-size: 16px;
	margin:0 10%;
	font-family: 'latolight';
	line-height: 2em;
	text-align: left;
}

table#Table_Registro thead th { font-weight: 600; }
table#Table_Registro thead th, table#Table_Registro tbody td {
padding: .8rem; font-size: 1.4rem;}
table#Table_Registro tbody td {
padding: .8rem; font-size: 1.4rem;
color: #444; background: white;
}
table#Table_Registro tbody tr:not(:last-child) {
border-bottom: 3px solid #ccc;
}

th#Registro_Fecha
{	
	background: #00A585;
	border-bottom: 8px solid #00836A;
	border-left: 3px solid #26A38F;
}

th#Registro_Presidentes
{	
	background: #FF9A21;
	border-bottom: 8px solid #D87E00;
	border-left: 3px solid #E39E47;
}

th#Registro_Estudiantes_IEEE
{	
	background: #F53231;
	border-bottom: 8px solid #C62B25;
	border-left: 3px solid #DA5953;	
}

th#Registro_Estudiantes
{	
	background: #008CCB;
	border-bottom: 8px solid #006D96;
	border-left: 3px solid #43AFDB;
}

th#REgistro_Profesionales_IEEE
{	
	background: #924A9A;
	border-bottom: 8px solid #7E378E;
	border-left: 3px solid #AB73AE;
}

td#Registro_body_dia1{border-bottom: 4px dotted #26A38F !important; }
td#Registro_body_precio1{border-bottom: 4px dotted #E39E47 !important; border-left: 2px solid #E39E47;  }
td#Registro_body_precio2{border-bottom: 4px dotted #DA5953 !important; border-left: 2px solid #DA5953;}
td#Registro_body_precio3{border-bottom: 4px dotted #43AFDB !important; border-left: 2px solid #43AFDB;}
td#Registro_body_precio4{border-bottom: 4px dotted #AB73AE !important; border-left: 2px solid #AB73AE; border-right: 2px solid #AB73AE;}

td#Registro_body_dia2{border-bottom: 4px solid #26A38F !important; }
td#Registro2_body_precio1{border-bottom: 4px solid #E39E47 !important; border-left: 2px solid #E39E47;  }
td#Registro2_body_precio2{border-bottom: 4px solid #DA5953 !important; border-left: 2px solid #DA5953;}
td#Registro2_body_precio3{border-bottom: 4px solid #43AFDB !important; border-left: 2px solid #43AFDB;}
td#Registro2_body_precio4{border-bottom: 4px solid #AB73AE !important; border-left: 2px solid #AB73AE; border-right: 2px solid #AB73AE;}

@media screen and (max-width: 600px) {
table#Table_Registro tbody td { display: block; padding: .6rem; }
table#Table_Registro thead { display: none; }
table#Table_Registro tbody tr td:first-child { background: #14937a; color: #fff; }
table#Table_Registro tbody td:before {
content: attr(data-th); font-weight: bold;
display: inline-block; width: 6rem;
}
}

/* 11 Sponsonrs ================================================== */

.Sponsors_Color
{	
	background: #1D5A74 ; 
	display: none;
}

.Sponsorsh4 h4{
	font-size: 24px;
	text-transform: capitalize;
	display: inline-block;
	margin: 0;
	color: white;
}

#owl-demo .item:hover a
{
   	color:#EA6060;
}

#owl-demo .item img
{
    display: block;
    height: auto;
}
.item img,.item a,.item p{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.item img:hover,.item a:hover,.item p:hover{
	opacity:1;
}
.owl-theme .owl-controls{
	text-align: center;
}
/*-----*/
.item h4 a{
	font-family: 'open_sansbold';
	text-transform: uppercase;
	font-size: 1.5em;
	color: #191919;
	padding: 0.5em 0 0.4em 0;
	display:block;
	transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
.item h4 a:hover{
	color:#EA6060;
}
.item p{
	font-size: 0.8725em;
	color: #191919;
	line-height: 1.8em;
}


/*---//--*/
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	height:34px;
	width:34px;
	display:block;
	font-size: 12px;
	transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	opacity:0.6;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */

.owl-prev {
	position: absolute;
	top: -22%;
	right: 4%;
	background: #7F8C8C url(../img/arrows.png) no-repeat 9px 6px;
}
.owl-next{
	position: absolute;
	top: -22%;
	right: 0%;
	background: #7F8C8C url(../img/arrows.png) no-repeat -26px 6px;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.24
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	padding-top: 20px;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

@media only screen and (max-width:1440px) and (min-width:1366px) {
	.owl-carousel
	{
		width: 95%;
		margin: 0 auto;
		padding: 2%;
	}
}
@media only screen and (max-width:1366px) and (min-width:1280px) {
	.owl-carousel 
	{
		width: 96%;
		margin: 0 auto;
		padding: 2%;
	}
		.owl-prev
	{
		top: -20%;
		right: 2%;
	}
		.owl-next 
	{
		top: -20%;
		right: 0%;
	}
}
@media only screen and (max-width:1280px) and (min-width:1024px) {
	.owl-carousel 
	{
		width: 95%;
		margin: 0 auto;
		padding: 2%;
	}
		.item h4 a
	{
		font-size: 1.2em;
	}
		.owl-prev 
	{
		top: -20%;
		right: 2%;
	}
		.owl-next 
	{
		top: -20%;
		right: -2%;
	}
}
@media only screen and (max-width:1024px) and (min-width:768px) {
	.owl-carousel 
		
}
@media only screen and (max-width:800px) and (min-width:640px) {
	
	.owl-carousel 
	{
		width: 95%;
		margin: 0 auto;
		padding: 2%;
	}
		.item h4 a
	{
		font-size: 1em;
	}
		.da-slide .da-link 
	{
		margin-left:10px;
		top: 225px;
		padding: 10px 34px 8px;
	}
}
@media only screen and (max-width:640px) and (min-width:480px) {
	.owl-carousel 
	{
		width: 95%;
		margin: 0 auto;
		padding: 2%;
	}
		.da-slide .da-link 
	{
		margin-left:10px;
		top: 200px;
		padding: 10px 34px 8px;
	}
		.da-slide 
	{
		padding: 0 5%;
		width: 80%;
	}
}
@media only screen and (max-width:480px) and (min-width:320px) {
	.owl-carousel {
	
	}
	.da-slide .da-link {
		top:240px;
		margin-left:10px;
		padding: 8px 18px 6px;
		font-size:1.2em;
	}
	.owl-next {
		right: -2%;
	}
}
@media only screen and (max-width:320px) and (min-width:240px) {
	.owl-carousel {
	
	}
	#owl-demo .item img{
		width: 160px;
		margin: 0 auto;
		text-align: center;
	}
	.cau_left a img{
		width: 160px;
		margin: 0 auto;
		text-align: center;
	}
	.da-slide .da-link {
		top:240px;
		margin-left:10px;
		padding: 8px 18px 6px;
		font-size:1.2em;
	}
	.owl-prev {
		right: 14%;
	}
}


/*10 PAGUEN !! ================================================================= */

#contenedor_pago {
background: white;
}

div#btn_pago 
{
	padding-right: 13%;
	padding-bottom: 7%;
}

#btn_pago .div_pago2
{  
	/*hijos*/	
	display: table-cell;
	float: right;
	text-align: center;
	padding: 1.41% 0;
	font-size: 26px;
	color: white;
	font-family: 'latolight';
}

#btn_pago .div_pago1
{
	display: table-cell;
	float: left;
	padding: 2.58% 0;
}


.div_pago1
{
	background: white; width: 75%; height:auto;
}

.div_pago2
{
	background: #FF0000; width: 25%;
}

@media screen and (min-width:1230px) and (max-width:1298px){  
   #btn_pago .div_pago1
   {
   	padding: 2.52% 0;
   }
}

@media screen and (min-width:1299px){  
   #btn_pago .div_pago1
   {
   	padding: 2.45% 0;
   }
}


@media screen and (max-width:1212px){  
   /*#btn_pago .div_pago2
   {
   	width: 100%
   }*/

   #btn_pago .div_pago1
{
	display:none;
}
   
}

@media screen and (max-width:851px){  
   #btn_pago .div_pago2
   {
   	width: 100%
   }

   div#btn_pago 
   {
		padding-right: 0%;
		padding-bottom: 0%;
		margin: 0;
	}
   
}
/* 11. INTERBLOCK FOOTER SETTINGS ================================================== */


/* Section */

.footer_2{
	position: relative !important;
}

#interblock_footer , #contact_info{
	margin: 0;
}

#interblock_footer
{ 
	padding: 100px 0; 
	background: #F17C71; 
	color:#FFF;
	width:100%;

}

/* Blockquote */

.footer_row{display: inline-block;}

#interblock_footer h2
{
	font-size:1.75rem; 
	font-family: 'latobold', sans-serif;
	text-transform:uppercase;
	margin-top: 0.33em;	
}

/* Text under blockquote */

#interblock_footer p {
	font-size:1.3rem; 
	font-family: 'latolight', sans-serif;}

/* Padding top for well displayed Icon */

#interblock_footer ul {

	position: absolute;
	right: 20.3%;
	top: 30%;}
	
/* Styling Icon  And display Inline*/

#interblock_footer li{ 
	display:inline-block;
	padding:40px  0px ;
	font-style: normal; 
	font-size: 50px; }

#interblock_footer li a {
	color: #fff;
}

/* Icon Hover */

#interblock_footer li:hover {
	opacity:0.7;}

@media screen and (max-width: 1350px){

	#interblock_footer ul {

	position: absolute;
	right: 20%;
	left: 19%;
	top: 37%;}

	.footer_row
	{
		position: absolute;
		bottom: 50%;
		right: 11%;
		left: 11%;
	}

	.footer_row p 
		{
			text-align: center;
			margin: 0;
		}
	.footer_row h2{margin-bottom: 0.2px;}
}

@media screen and (max-width: 854px){
	#interblock_footer ul {

	position: absolute;
	right: 8%;
	left: 3%;
	top: 37%;}

	.footer_row
	{
		position: absolute;
		bottom: 37%;
		right: 11%;
		left: 11%;
	}

	#interblock_footer p 
		{
			text-align: center;
			margin: 1.5px 0;
			font-size: 20px ;
		}

	#interblock_footer h2
		{
			margin-bottom: 0.2px;
			font-size: 24px ;
		}

	}

@media screen and (max-width: 483px){

	#interblock_footer p 
			{
				text-align: center;
				margin: 1.5px 0;
				font-size: 18px ;
			}

		#interblock_footer h2
			{
				font-size: 18px;
			}

		#interblock_footer ul

		{

			position: absolute;
			right: 0%;
			left: -2%;
			top: 42%;
		}
}


@media screen and (min-width: 380px) and (max-width: 853px){

	#interblock_footer ul {

	position: absolute;
	right: 1%;
	left: 0%;
	top: 44%;}
}


@media screen and (max-width: 320px){
	#interblock_footer ul {

	position: absolute;
	right: 0%;
	left: -2%;
	top: 42%;}

	#interblock_footer p 
			{
				text-align: center;
				margin: 1.5px 0;
				font-size: 16px ;
			}

		#interblock_footer h2
			{
				margin-bottom: 0.2px;
				font-size: 16px ;
			}
}

/* 12 Footer ==================================================*/

ul.ul_ramas{padding-right: 0; padding-left: 0;}

footer
{
 	background: white;
 	/*padding: 1% 0% 1% 11%;*/
 	margin: auto;
 	text-align: center;
}



#fot_logo1,#fot_logo2,#fot_logo4 {padding-right:5%;}
#fot_logo2{padding-left: 2%;}
#fot_logo3{padding-right: 8%; padding-left: 3%;}
#fot_logo3 img{ width: 80%;}

#fot_logo1 img,#fot_logo2 img,#fot_logo4 img{ width: 200px;}
#fot_logo3 img{width:100px;}

#footer_2 li 
{
	display: inline-block;
}

ul.der 
{
	font-size: 0px;
	margin-top: 1%;
}

#footer_design_by
{
	background: #22bce0; 
	padding: 1px 0;
}

#footer_design_by_p{text-align: center;font-size: 14px; font-family: 'latolight'; color:white;}


#fot_ramas3 img{ width: 80%;}
#fot_ramas1 img{width:150px; padding-top: 3%; padding-left: 6%;}
#fot_ramas2 img{ width: 200px; padding-bottom: 20px; padding-left: 12%;}
#fot_ramas3 img{width:145px; padding-left: 25%;}
#fot_ramas4 img{ width: 210px; padding-bottom: 21px; padding-left: 15%; padding-right: 8%;}
#fot_ramas5 img{ width: 145px; padding-left: 5%;}


@media (max-width: 1199px) {
	
	footer{padding:0;}	
	ul {padding: 0; margin: 0; text-align: center;}

	#fot_ramas1,#fot_ramas2,#fot_ramas4 {padding:3% 0;}	
	#fot_ramas3 {padding-top: 3%; padding-left:4%;}
}


@media (max-width: 360px) {
	
	#fot_ramas2 img
 {	
	padding-left: 0%;
 }

 #fot_ramas3 img 
 {
 	width: 145px;
 	padding-left: 0%; 
 }

 #fot_ramas4 
 {
 	padding:0; 
 }

 #fot_ramas4 img 
 {
	 width: 200px;
	 padding-bottom: 24px;
	 padding-left:  0%; 
	 padding-right: 0%; 
 }

 #fot_ramas5 img 
 {
	width: 145px;
 	padding-left: 0%; 
 }
}
/* 13. MEDIA QUERIES FOR MOBILE SETTINGS ================================================== */

	.mobile-menu
	 {
		display:none;
		background: #FFF;
		width:100%;
		z-index: 99999999;
		position: absolute;
		top:0;
		border-bottom: 1px solid #BBB;
	}
	

	.mobile-menu .row 
	{
		background: #F5F5F5;
		padding-top:10px;
		padding-bottom: 10px;
	}	

	.mobile-menu-inner .nav-mobile li
 	{
	color: #4D4C4C;
	display: block;
	cursor: pointer;
	margin-top: 2%;
	background: #fFF;
	border-bottom: 4px solid #e5e5e5;
	padding: 6px 20px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
	

	.mobile-menu-inner .nav-mobile li:hover
	 {
	background: #F17C71;
	border-bottom: 4px solid #E95855;
	 }
	

	.mobile-menu-inner .nav-mobile li:hover a
	 {
	color: #fFF;
	 }
	

	.mobile-menu-inner .nav-mobile li a 
	 {
	display: block;
	width:100%;
	color: #4D4C4C;
	text-transform:uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	 }	

	#collapse {display:none;}


	.mobile-menu h3 
	 {
	background: url("../img/line.gif") no-repeat scroll center 21px transparent;
	color: #4D4C4C;
	font: 16px 'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
 	}

	/* Styling for mobile devices */

	@media screen and (max-width: 768px) {
	/* Display the mobile menu */
	
	.mobile-menu {display:block;}	
	
	#header {margin-top: 0px; padding:150px 0 100px 0; background: #353847; }
	
	/* Not Showing the Navigation */
	.cbp-af-header {display: none;}
	.callbacks img {padding-top: 56px;} 
    #team .row {width:100%;}    
	}

/* 14. MEDIA QUERIES PARA TABLETS (EN SU MAYORIA PARA EL HEADER RESPONSIVE) ================================================== */

@media only screen and (min-width : 769px) and (max-width : 843px) {

	#nav>li>a
	{
		padding-left: 1px;
	 	font-size: 9px;		 
	}
}

@media only screen and (min-width : 844px) and (max-width : 889px) {

	#nav>li>a
	{
		padding-left: 5px;
	 	font-size: 10px;		 
	}
}

@media only screen and (min-width : 890px) and (max-width : 959px) {

	#nav>li>a
	{
		padding-left: 10px;
	 	font-size: 10px;		 
	}
}

@media only screen and (min-width : 960px) and (max-width : 1024px) {

	#nav>li>a
	{
		padding-left: 9px; 
	 	font-size: 12px;		
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1112px) {

	#nav>li>a
	{
		padding-left: 8px;
	 	font-size: 13px;		 
	}
}

@media only screen and (min-width : 1113px) and (max-width : 1207px) {

	#nav>li>a
	{
		padding-left: 19px;
	 	font-size: 13px;		 
			 
	}
}

@media only screen and (min-width : 1208px) and (max-width : 1280px) {

	#nav>li>a
	{	
		padding-left: 25px;
	 	font-size: 14px;		 
	}
}

@media only screen and (min-width : 1281px) and (max-width : 1360px) {

	#nav>li>a
	{
		padding-left: 28px;
		font-size: 15px;		 
	}
}
